In [1]:
import pymysql
import pandas as pd
import time

In [2]:
connect = pymysql.connect(user='chenxin',
                          password='chenxin0825!',
                          host='rm-wz96142hc4po8kogngo.mysql.rds.aliyuncs.com',
                          database='mydb', port=3306)

In [3]:
sql = 'select * from cosori'

In [5]:
ts = time.time()
data = pd.read_sql(sql, connect)
print(time.time() - ts)

2.4466769695281982

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28901 entries, 0 to 28900
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  28901 non-null  object
 1   site_id                             28901 non-null  object
 2   asin                                28901 non-null  object
 3   data_date                           28901 non-null  object
 4   product_title                       28894 non-null  object
 5   ordered_revenue                     28901 non-null  object
 6   ordered_revenue_of_total            28901 non-null  object
 7   ordered_revenue_last_year           28901 non-null  object
 8   ordered_units                       28901 non-null  object
 9   ordered_units_of_total              28901 non-null  object
 10  ordered_units_prior_period          28901 non-null  object
 11  ordered_units_last_year             28901 non-null  object
 12  subcategory_sales_rank              28901 non-null  object
 13  average_sales_price                 28901 non-null  object
 14  average_sales_price_prior_period    28901 non-null  object
 15  glance_views                        28901 non-null  object
 16  change_in_glance_view_prior_period  28901 non-null  object
 17  change_in_gv_last_year              28901 non-null  object
 18  conversion_rate                     28901 non-null  object
 19  rep_oos                             28901 non-null  object
 20  rep_oos_of_total                    28901 non-null  object
 21  rep_oos_prior_period                28901 non-null  object
 22  lbb_price                           28901 non-null  object
 23  create_time                         28901 non-null  object
 24  update_time                         28901 non-null  object
dtypes: object(25)
memory usage: 5.5+ MB

In [7]:
data.shape

(28901, 25)

In [13]:
connect.close()

In [9]:
data.head(1)

,id,site_id,asin,data_date,product_title,ordered_revenue,ordered_revenue_of_total,ordered_revenue_last_year,ordered_units,ordered_units_of_total,...,glance_views,change_in_glance_view_prior_period,change_in_gv_last_year,conversion_rate,rep_oos,rep_oos_of_total,rep_oos_prior_period,lbb_price,create_time,update_time
0,1,eb766123-9f24-436e-9117-49c739816794,B07GJBBGHG,2021-01-02,COSORI 5.8QT Electric Hot Air Fryers Oven Oill...,153827.18,0.13,1.26,1284,0.06,...,40220,0,1.19,0.03,0.02,0.14,0.15,0,2021/1/4 6:48,2021/1/4 6:48